﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="grid"></div>

<script>



    var gridData = new kendo.data.DataSource({
        pageSize: 10,
        transport: {
            read: {
                url: "/Home/Read",
                dataType: "json"
            },

            create: {
                url: "/Home/AddProduct",
                type: "POST",
                
            }
            @*update: {
                url: '@Url.Action("EditProduct", "Product")',
                type: "POST",

                parameterMap: function (options, action) {
                    if (action == "update" && options.models) {
                        return { model: kendo.stringify(options.models) };
                    }
                }
            }*@,
            destroy: {
                url: "/Home/Destroy",
                type: "POST",

               
            }
            }, //end of transport

        schema: {
            model: {
                id: "ProductId",
                fields: {
                    //must include all table columns
                    ProductId: { editable: false, type: "number" },
                    ProductName: { editable: true, type: "string" },
                    UnitPrice: { editable: true, type: "number" },
                    UnitsInStock: { editable: true, type: "number" },
                    //Discontinued: { editable: true, type: "bit" }
                }
            }
        }
        //requestEnd: function (e) {
        //    if (e.type == "create") {
        //        e.sender.read();
        //    }
        //}
    });// end of gridData


    //Kendo grid
    var grid = $("#grid").kendoGrid({
        dataSource: gridData,
        toolbar: [
            { name: "create", text: "Add Product" }
        ],
        columns: [
            //{ field: "ProductId", title: "Product Id" },
            //{ template: "<image src='/images/1.jpg'", width: "100px", height: "80px", resizable: "true"},
            { field: "ProductId", title: "ProductId"},
            { field: "ProductName", title: "Product Name" },
            { field: "UnitPrice", title: "Unit Price" },
            { field: "UnitsInStock", title: "Units In Stock" },
            //{ field: "Discontinued", title: "Discontinued" },
            {
                command: ["edit", { name: "destroy", text: "Delete" }]
            },
            //To add View More Details Popup
            //{
            //    template: kendo.template($("#detailsTemplate").html()), width: "150px"
            //}
        ],

        editable: "popup",
        selectable: true,
        groupable: true,
        sortable: true,
        filterable: true,
        columnMenu: false,
        reorderable: true,
        resizable: true,
        height: "400px",
        pageable: {
            refresh: true,
            pagesizes: true,
            buttonCount: 5

        }
    }).data("kendoGrid");
</script>
